{extend name="common/base" /}

{block name="tool_bar"}
<div class="layui-row">
    <div class="layui-col-xs3 layui-col-xs-offset9 tr">
        <a href="{:url('choose')}" class="layui-btn layui-btn-sm bg-success">新建版本</a>
    </div>
</div>
{/block}

{block name="body"}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">
            <a href="{:url('index')}">版本管理</a>
        </li>
        <li>
            <a href="{:url('log')}">历史版本</a>
        </li>
    </ul>

    <div class="layui-tab-content">
        <div class="inner">
            <div class="line">
                <div class="title">线上版本</div>
                <?php if($publish):?>
                <div class="layui-row">
                    <div class="layui-col-xs3 col1">
                        <img src="{$publish.logo}" alt="" class="addon-logo">
                    </div>
                    <div class="layui-col-xs6">
                        <p class="info-item">
                            <span class="label">应用：</span>
                            <span class="value">{$publish.name}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">版本：</span>
                            <span class="value">{$publish.user_version}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">描述：</span>
                            <span class="value">{$publish.user_desc}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">发布时间：</span>
                            <span class="value">{:date('Y-m-d H:i:s', $verify.publish_time)}</span>
                        </p>
                    </div>
                    <div class="layui-col-xs3">
                        <button class="layui-btn layui-btn-sm layui-btn-normal js-revert" data-id="{$current.id}">版本回退</button>
                    </div>
                </div>
                <?php else:?>
                <div class="empty-box">
                    <p class="empty-tips">
                        你暂无发布版本
                    </p>
                </div>
                <?php endif;?>
            </div>

            <div class="line">
                <input type="hidden" id="verifyId" value="1">
                <div class="title">审核版本</div>
                <?php if($verify):?>
                <div class="layui-row">
                    <div class="layui-col-xs3 col1">
                        <img src="{$verify.logo}" alt="" class="addon-logo">
                        <p>
                            {if $verify['status'] == 2}
                            <span class="layui-badge layui-bg-green">审核通过</span>
                            {elseif $verify['status'] == 3}
                            <span class="layui-badge">审核失败</span>
                            {else/}
                            <span class="layui-badge layui-bg-orange">审核中...</span>
                            <i class="fa fa-refresh js-get-audit-status"
                               title="刷新审核进度"
                               style="color: #9a9a9a"
                               data-auditid="{$verify.audit_id}"
                            ></i>
                            {/if}
                        </p>
                    </div>
                    <div class="layui-col-xs6">
                        <p class="info-item">
                            <span class="label">应用：</span>
                            <span class="value">{$verify.name}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">版本：</span>
                            <span class="value">{$verify.user_version}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">描述：</span>
                            <span class="value">{$verify.user_desc}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">提交审核时间：</span>
                            <span class="value">{:date('Y-m-d H:i:s', $verify.verify_time)}</span>
                        </p>
                        {if $verify['status'] == 3}
                        <p class="info-item">
                            <span class="label">失败原因：</span>
                            <span class="value">{$verify.reason|raw}</span>
                        </p>
                        {/if}
                    </div>
                    <div class="layui-col-xs3">
                        <?php if($verify['status'] == 1):?>
                        <button class="layui-btn layui-btn-sm layui-btn-normal js-cancel-audit" data-id="{$verify.id}">撤回</button>
                        <?php elseif($verify['status'] == 2):?>
                        <button class="layui-btn layui-btn-sm js-publish" data-id="{$verify.id}">提交发布</button>
                        <?php endif;?>
                    </div>
                </div>
                <?php else:?>
                <div class="empty-box">
                    <p class="empty-tips">
                        你暂无提交审核的版本或者版本已发布上线
                    </p>
                </div>
                <?php endif;?>
            </div>

            <div class="line">
                <div class="title">当前选择版本</div>
                <?php if($current):?>
                <div class="layui-row">
                    <div class="layui-col-xs3 col1">
                        <img src="{$current.logo}" alt="" class="addon-logo">
                        <p>
                            <button data-id="{$current.id}" data-src="{$current.qr_code}" class="js-view-demo layui-btn layui-btn-xs">体验码</button>
                        </p>
                    </div>
                    <div class="layui-col-xs6">
                        <p class="info-item">
                            <span class="label">应用：</span>
                            <span class="value">{$current.name}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">版本：</span>
                            <span class="value">{$current.user_version}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">描述：</span>
                            <span class="value">{$current.user_desc}</span>
                        </p>
                        <p class="info-item">
                            <span class="label">提交时间：</span>
                            <span class="value">{:date('Y-m-d H:i:s', $current.create_time)}</span>
                        </p>
                    </div>
                    <div class="layui-col-xs3">
                        <?php if(empty($verify) || $verify['status'] != 1):?>
                        <button class="layui-btn layui-btn-sm layui-btn-normal js-audit" data-id="{$current.id}">提交审核</button>
                        <?php else:?>
                        <button class="layui-btn layui-btn-sm layui-btn-disabled">提交审核</button>
                        <?php endif;?>
                    </div>
                </div>
                <?php else:?>
                <div class="empty-box">
                    <p class="empty-tips">你暂未提交版本</p>
                </div>
                <?php endif;?>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    //提交审核后的回调函数
    function closeAuditWindow(){
        location.reload();
    }

    $(function () {
        /**
         * 点击发布
         */
        $('.js-publish').on('click', function () {
            layer.confirm('你确定发布吗？', {}, function () {
                var loadingIndex = layer.load(1);
                $.post("{:url('releasePost')}", {id: $(this).data('id')}, function (res) {
                    layer.close(loadingIndex);
                    if(res.code === 1){
                        location.reload();
                    }else{
                        layer.alert(res.msg);
                    }
                });
            });
        });

        /**
         * 撤销审核
         */
        $('.js-cancel-audit').on('click', function () {
            layer.confirm('单个帐号每天审核撤回次数最多不超过1次，一个月不超过10次。确定操作吗？', {}, function () {
                var loadingIndex = layer.load(1);
                $.post("{:url('cancelAuditPost')}", {id: $(this).data('id')}, function (res) {
                    layer.close(loadingIndex);
                    if(res.code === 1){
                        location.reload();
                    }else{
                        layer.alert(res.msg);
                    }
                });
            });
        });

        /**
         * 刷新审核信息
         */
        $('.js-get-audit-status').on('click', function () {
            var loadingIndex = layer.load(1);
            $.post("{:url('getAuditStatusPost')}", {auditid: $(this).data('auditid')}, function (res) {
                layer.close(loadingIndex);
                if(res.code === 1){
                    location.reload();
                }else{
                    layer.alert(res.msg);
                }
            })
        });

        //点击提交审核
        $('.js-audit').on('click', function () {
            layer.open({
                type: 2,
                title: '审核项配置',
                shadeClose: false,
                shade: 0.8,
                area: ['800px', '506px'],
                content: ['/mini/template/commitaudit?log_id=' + $(this).data('id'), 'no']
            });
        });

        //点击体验码
        $('.js-view-demo').on('click', function () {

            var src = $(this).data('src')
            ,id = parseInt($(this).data('id'));
            if(src === ''){
                var loadingIndex = layer.load(1);
                $.post("{:url('getTestQrCode')}", {id: id}, function (res) {
                    layer.close(loadingIndex);
                    if(res.code === 1){
                        src = res.data.src;
                        layer.photos({
                            photos: {
                                "data": [  {"src": src}]
                            }
                        });
                    }else{
                        layer.alert(res.msg);
                    }
                }).error(function (error) {
                    layer.close(loadingIndex);
                    layer.alert('500 Internal Server Error', {title: '错误提示'});
                });
            }else{
                layer.photos({
                    photos: {
                        "data": [ {"src": src}]
                    }
                });
            }
        });
    });

</script>
{/block}

{block name="css"}
<style>
    .content {
        background: #FAFAFA;
    }

    .layui-tab-content .line {
        margin-bottom: 30px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(150,150,150,0.3);
        padding: 20px 30px 30px;

    }
    .layui-tab-content .line .col1{
        text-align: center;
    }
    .layui-tab-content .line .addon-logo{width: 60px;margin-bottom: 10px;}

    .layui-tab-content .line .title {
        font-size: 18px;
        text-align: left;
        margin-bottom: 30px;
        color: #353535;
    }
    .layui-tab-content .line .info-item{
        margin-bottom: 5px;
    }
    .layui-tab-content .line .label {
        width: 84px;
        color: #9a9a9a;
        font-size: 14px;
        margin-right: 15px;
        text-align: left;
    }
    .layui-tab-content .line .value {
        width: 510px;
        color: #353535;
    }

    .layui-tab-content .empty-box .empty-tips {
        padding: 60px 0;
        text-align: center;
        font-size: 14px;
        color: #9a9a9a;
    }
</style>
{/block}